<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input formControlName="email" type="email"
        placeholder="Your email address"
        [class.invalid]="!loginForm.controls.email.valid && blur"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
loginForm.controls.email.touched">
<p>Please enter a valid email address.</p>
</ion-item>

      <!--
      Want to use a Username instead of an Email? Here you go:

      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input formControlName="password" type="password"
        placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid && blur"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid
      && loginForm.controls.password.touched">
      <p>Your password needs more than 6 characters.</p>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block [disabled]="!loginForm.valid">{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
