.ios, .md {

    page-audioplay {
            ion-footer {
                height: 75px;
                background-color: map-get($colors, dark);
     
                ion-grid, ion-row, ion-col {
                    height: 100%;
                }

                
     
                ion-col {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .progress-bar {
                width: 100%;
                position: absolute;
                bottom:49px;
                z-index: 12; }
     
        }

}
$range-ios-bar-height:2px;
$range-md-bar-height:2px;
$range-md-padding-vertical:6px;
$range-md-padding-horizontal:4px;