.ios, .md {

    page-audioplay {

        .itemmargin {
            margin-left:2px;
            margin-right:2px;
        }
            ion-footer {
                height: 75px;
                background-color: map-get($colors, dark);
     
                ion-grid, ion-row, ion-col {
                    height: 100%;
                }
     
                ion-col {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
     
        }

}
