.ios, .md {

    page-audioplay {
     
        ion-card{
            position: relative;
            size: 100%;
        }
            ion-footer {
                height: 75px;
                background-color: map-get($colors, dark);
     
                ion-grid, ion-row, ion-col {
                    height: 100%;
                }
     
                ion-col {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
     
        }

}
